*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --primary-light: #F0FFF0;
    --primary-mid-light: #D9F7F0;
    --primary-mid: #A7D8D5;
    --primary-mid-dark: #7AA7A2;
    --primary-dark: #1E2E2D;

}

body {

    background-color: var(--primary-mid-light);
    color: var(--primary-dark);
    padding-top: 32px;

}

ul {

    list-style-type: none;

}

nav button {

    margin: 0 4px;
    background-color: var(--primary-mid);
    border: 2px solid var(--primary-mid-light);
    border-bottom: 0px;
    border-radius: 12px 12px 0 0;
    padding: .75rem;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    color: #666;

}

.active-project {

    position: relative;
    bottom: -2px;

}


#container {

    display: flex;
    align-items: flex-start;
    background-color: var(--primary-mid);
    border-top: 2px solid var(--primary-light);
    padding-top: 32px;
    height: 100vh;
    box-shadow: 0 -5px 10px var(--primary-mid-dark);

}

#new-list {


}

.lists {

    background-color: var(--primary-mid-light);
    border: 2px solid var(--primary-dark);
    border-radius: 10px;
    margin: 8px;
    width: 250px;
    box-shadow: 5px 5px 5px var(--primary-mid-dark);

    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.list-header {

    display: flex;
    justify-content: center;

    width: 100%;
    padding: 5px;
    background-color: var(--primary-light);
    border-bottom: 2px solid var(--primary-dark);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.lists .delete-button {

    padding: 5px;
    background-color: var(--primary-light);
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    color: var(--primary-dark);
    align-self: center;
    margin-bottom: 5px;

}

.list-body {

    margin-bottom: 16px;
    width: 100%;

}

.list-body-heading, .item-body-heading {

    display: flex;
    justify-content: space-between;
    margin: 5px;

}

.item-list {

    margin-bottom: 8px;
    width: 100%;

}

.items {

    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--primary-mid);
    border-bottom: 1px solid var(--primary-dark);

}

.item-header {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary-mid-dark);
    border-bottom: 1px solid var(--primary-dark);
    border-top: 1px solid var(--primary-dark);
    padding: 5px;
    font-weight: 700;

}

.item-header button, .item-delete-button {

    padding: 5px;
    background-color: var(--primary-mid);
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    color: var(--primary-dark);

}

.item-body {

    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;

}

.item-body div {

    margin: 5px;

}

.item-body-header {

    display: flex;
    justify-content: space-between;
    margin: 5px;

}

.items .delete-button {

    background-color: var(--primary-mid-dark);
    margin-top: 16px;
    margin-bottom: 8px;
    align-self: center;

}

.hidden {

    display: none;

}