*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --primary-light: #F0FFF0;
    --primary-mid-light: #D9F7F0;
    --primary-mid: #A7D8D5;
    --primary-mid-dark: #7AA7A2;
    --primary-dark: #1E2E2D;

}

body {

    background-color: var(--primary-mid-light);
    color: var(--primary-dark);

}

ul {

    list-style-type: none;

}

#container {

    display: flex;

}

.list {

    background-color: var(--primary-mid-light);
    border: 2px solid var(--primary-dark);
    border-radius: 10px;
    margin: 8px;
    width: 250px;
    box-shadow: 5px 5px 5px var(--primary-mid-dark);
    
}

.list .list-header {

    display: flex;
    justify-content: space-between;

    padding: 5px;
    background-color: var(--primary-light);
    border-bottom: 2px solid var(--primary-dark);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.list-header button {

    padding: 5px;
    background-color: var(--primary-light);
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    color: var(--primary-dark);

}

.item-list {

    margin-bottom: 8px;

}

.item-header {

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-mid);

    padding: 5px;

}

.item-header button {

    padding: 5px;
    background-color: var(--primary-mid);
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    color: var(--primary-dark);

}

.item-body {

    display:none;

}